@import '@core/scss/angular/libs/select.component.scss';
@import '@core/scss/angular/libs/flatpickr.component.scss';
@import '@core/scss/angular/libs/toastr.component.scss';

.halfwidth{
    width: 85%;
}
.buttonMargin{
    margin-left: 15%;
}
.buttonMargintwo{
    margin-left: 55%;
}

.float-child {
    width: 55%;
    float: left;
}  
.float-child-two {
    width: 45%;
    float: left;
    padding-bottom: 30px;
}  

.myToast {
    background-color: $white;
    color: $body-color !important;
    .myToast-close-button {
      color: $body-color;
      font-size: 1.75rem;
      font-weight: $font-weight-normal;
      top: 0;
      right: 0;
      text-shadow: none;
  
      &:focus {
        outline: none;
      }
    }
    .myToast-title {
      font-size: $font-size-base;
      font-weight: $font-weight-bolder;
      line-height: 1.75;
    }
    .myToast-progress {
      opacity: 1;
    }
    &:before {
      content: '';
      height: 24px;
      width: 24px;
      border-radius: 50%;
      color: $white;
      position: absolute;
      left: 1.25rem;
      background-size: $font-size-base;
      background-repeat: no-repeat;
      background-position: center;
    }
  }