<div class="blog-wrapper">
  <div class="content-wrapper container-xxl p-0">
    <div class="content-detached content-left">
      <div class="content-body">
        <!-- CONTENT-->
        <app-sample-body-content></app-sample-body-content> 
        <!--/ CONTENT-->          
      </div>
    </div>
    <div  class="sidebar-detached sidebar-right sticky-sidebar">
      <div class="sidebar">
        <div class="blog-sidebar my-2 my-lg-0">
          <!-- CHAT -->
          <app-chat></app-chat>
          <!--/CHAT -->
        </div>
      </div>
    </div>
  </div>
</div>





