<div class="custom-fixed-right-navbar">
    <div>
        <div class="p-container">
            <h6>Members (25)</h6>
            <p>view all</p>
        </div>
        <div style="padding-right: 30px;" class="design-group mb-2 pt-50">
            <div class="btn avatar avatar-border bg-transparent p-0 buttonStyle">
                <img src="/assets/images/avatars/2-small.png" alt="user_avatar" height="30" width="30 " />
            </div>
            <div class="btn avatar avatar-border bg-transparent p-0 buttonStyle">
                <img src="/assets/images/avatars/3-small.png" alt="user_avatar" height="30" width="30 " />
            </div>
            <div class="btn avatar avatar-border bg-transparent p-0 buttonStyle">
                <img src="/assets/images/avatars/4-small.png" alt="user_avatar" height="30" width="30 " />
            </div>
            <div class="btn avatar avatar-border bg-transparent p-0 buttonStyle">
                <img src="/assets/images/avatars/5-small.png" alt="user_avatar" height="30" width="30 " />
            </div>
            <div class="btn avatar avatar-border bg-transparent p-0 buttonStyle">
                <img src="/assets/images/avatars/7-small.png" alt="user_avatar" height="30" width="30 " />
            </div>
            <div class="btn avatar avatar-border bg-transparent p-0 buttonStyle">
                <img src="/assets/images/avatars/6-small.png" alt="user_avatar" height="30" width="30 " />
            </div>
            <div class="btn avatar avatar-border bg-transparent p-0 buttonStyle">
                <img src="/assets/images/avatars/8-small.png" alt="user_avatar" height="30" width="30 " />
            </div>
        </div>
    </div>
    <!--GROUP CHAT HEADER-->
    <div >
        <h6>Group Chat</h6>
    </div>
    <!--GROUP CHAT CONTENT-->
    <div class="container" >
        <div class="messaging">
            <div class="msg_history" [perfectScrollbar] #scrollMe [scrollTop]="scrolltop">
                <div 
                *ngFor="let chat of groupchat.chat"
                class="incoming_msg ">
                    <div *ngIf="chat.user === 'other'" class="incoming_msg_img avatar box-shadow-1"> 
                        <img
                        src="assets/images/avatars/1-small.png"
                        alt="avatar"
                        
                        />
                    </div>
                    <div [ngClass]="{ 'received_msg':  chat.user  === 'other',
                                    'outgoing_msg':  chat.user  === 'user'
                        }">
                        <div [ngClass]="{ 'received_withd_msg':  chat.user  === 'other',
                                        'sent_msg':  chat.user  === 'user'
                            }">
                            <p>{{ chat.message }}</p>
                            <span class="time_date"> 
                                {{chat.date | date:'short'}}
                            </span>
                        </div>
                    </div>
                    
                </div>
            </div>    
            <!--/GROUP CHAT CONTENT-->
            <!--SUBMIT FORM-->   
            <form [formGroup]="form" class="chat-app-form" action="javascript:void(0);" (submit)="onSubmit(input.value)">
                <div class="info input-group input-group-merge mr-1 form-send-message">
                    <div class="input-group-prepend">
                        <span class="speech-to-text input-group-text"><i data-feather="mic" class="cursor-pointer"></i></span>
                    </div>
                    <input
                        formControlName="first"
                        style="max-width: 200px"
                        type="text"
                        class="form-control message"
                        placeholder="Type your message "
                        #input
                    />
                    
                </div>
            </form> 
            <!--/SUBMIT FORM-->
        </div>
    </div>
</div>


